# Commandline parameters override values in the configuration file.

# GRAPH FILE
file=datasets/soc-LiveJournal1.txt.unDir

# livejournal
num-vertices=4846609

# ENGINE
blocksize_kb=20000
nThreads=16

# RANDOM WALK
walk-length=80
walks-per-vertex=10

# NODE2VEC
p=1
q=1

# PAGERANK
starts-vertices-file=conf/PRStarts/PPRStarts-LiveJournal-100.txt
decay-factor=0.85
num-start-vertices=100

# LOAD-TEST
#load-test-output-file-dynamic=conf/on-demand-th-0.csv
#load-test-output-file-static=conf/on-demand-th-1.csv

# ON-DEMAND-LOAD
ths-file-dynamic=conf/ths/ths-all-0.txt
ths-file-static=conf/ths/ths-all-0.txt